<div class="row" id="<%= @floorplan.name %>">
	<div class="pull-right col-sm-4 listcontainer">
		
		<div id="roomlist">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Available Naming Opportunities</h4>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
					<% @floorplan_rooms_dict.each do |category, room_list| %>
						<% if category != 'Previously-named spaces' %>
						<li>
							<h5><strong><%= category %></strong></h5>
							<% if !room_list.empty? %>
								<ul class="list-styled">
								<% room_list.each do |room| %>
									<li class="namingopportunityitem">
										<%= link_to room.label_for_link_element(), room_path(:id => room.id), :remote => true,
											:class => [room.link_element_css_class, 'room-link'], 'data-target-area' => room.name, 'data-roomgroup' => room.name,
											:title => room.label, :alt => room.label
										%>
									</li>
								<% end %>
								</ul>
							<% end %>
						</li>
						<% end %>
					<% end %>
					</ul>
				</div>
			</div>
			
			<% @floorplan_rooms_dict.each do |category, room_list| %>
				<% if category == 'Previously-named spaces' %>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4>Named Spaces</h4>
					</div>
					<div class="panel-body">
						<ul class="list-unstyled">
							<% room_list.each do |room| %>
							<li class="namingopportunityitem">
								<%= link_to room.label_for_link_element, room_path(:id => room.id), :remote => true,
									:class => [room.link_element_css_class, 'room-link'], 'data-target-area' => room.name, 'data-roomgroup' => room.name,
									:title => room.label, :alt => room.label
								%>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>
			<% end %>
		</div>
		
		<div id="buildingfloorlist">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4><%= @floorplan_building %> Floorplans</h4>
				</div>
				<div class="panel-body">
					<% if @building_list[@floorplan.building.name][:room_list].count > 0 %>
					<ul>
						<% @building_list[@floorplan.building.name][:room_list].each do |floor| %>
						<li><%= link_to floor.label, floorplan_path(:id => floor.id) %></li>
						<% end %>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
		
		<div id="buildinglist">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Library Buildings</h4>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
					<% @building_list.each do |building, building_floors|%>
						<li><%= building_floors[:label] %></li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="floorplanscontainer col-sm-8">
		<div id="floorplans">
			<h2><%= @floorplan.building.label %> (<%= @floorplan.label%>)</h2>
			<% if !@floorplan.sublabel.nil? && !@floorplan.sublabel.empty? %>
			<h4><%= @floorplan.sublabel %></h4>
			<% end %>
			<div class="floorplancontainer">
				<%= image_tag @floorplan.default_image_size[:image_url],
											id: "#{@floorplan.name}", 
											class: "floorplan-map",
											height: "#{@floorplan.default_image_size[:height]}",
											width: "#{@floorplan.default_image_size[:width]}",
											usemap: "##{@floorplan.name}_#{@floorplan.default_size}"
											%>
			</div>
		</div>
	</div>
</div>

<map name="<%= @floorplan.name %>_<%= @floorplan.default_size %>">

<% @floorplan_rooms_dict.each do |category, room_list| %>
	<!-- <%= category %> -->
	<% room_list.each do |room| %>
		<% room.room_areas.each do |room_area| %>
	<area shape="<%= room_area.shape %>" 
				coords="<%= room_area.adjusted_coordinates() %>" 
				data-roomdesc="<%= room.label %>" 
				data-roomgroup="<%= room.name %>"
				target="<%= room.name %>"
				data-toggle="tooltip"
				data-placement="right"
				data-nameable="<%= room.pending_or_nameable %>"
				title="<%= room.title_for_area_element %>"
				href="<%= url_for room_path(:id => room.id) %>"
				data-remote="true"
				/>
		<% end %>
	<% end %>
<% end %>
</map>

<!-- MODAL ELEMENT -->
<div id="roomDetailsModal" class="modal fade room-details-modal-lg" tabindex="-1" role="dialog" aria-labelledby="roomDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<!--div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    		<h4 class="modal-title" id="roomDetailsModalLabel"></h4>
    	</div-->
    	<div class="modal-body">
    		
    	</div>
    	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>    		
    	</div>
    </div>
  </div>
</div>
