<% title "#{@floorplan.building.label} | #{@floorplan.label}" %>

<div class="row" id="<%= @floorplan.name %>">
	<div class="floorplanscontainer col-md-8 col-sm-12">
		<!-- TODO place this in a shared partial -->
		<%= render partial: 'shared/floors_buildings_menu', locals: {
			building_list: @building_list, active_building: @floorplan.building, active_floorplan: @floorplan
			} 
		%>
		<!-- /button bar for floors and library buildings -->
		
		<div id="floorplans">
			<h2><%= @floorplan.building.label %> (<%= @floorplan.label%>)</h2>
			<% if !@floorplan.sublabel.nil? && !@floorplan.sublabel.empty? %>
			<h4><%= @floorplan.sublabel %></h4>
			<% end %>
			<div class="floorplancontainer">
				<%= image_tag @floorplan.default_image_size[:image_url],
											id: "#{@floorplan.name}", 
											class: "floorplan-map",
											height: "#{@floorplan.default_image_size[:height]}",
											width: "#{@floorplan.default_image_size[:width]}",
											usemap: "##{@floorplan.name}_#{@floorplan.default_size}"
											%>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-12 listcontainer">	
		<div id="roomlist">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Naming Opportunities</h4>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
					<% if @available_5000.size > 0 %>
						<li><h5><strong>$5,000 - $100,000</strong></h5></li>
						<ul class="list-styled">
						<% @available_5000.each do |room_label, room_info| %>
							<li>
								<%= link_to room_label, room_path(:id => room_info[:room].id), :remote => true,
									:class => [room_info[:room].link_element_css_class, 'room-link'], 'data-target-area' => room_info[:data_roomgroup],
									:title => room_label, :alt => room_label
								%>							
							</li>
						<% end %>
						</ul>
					<% end %>
					<% if @available_100000.size > 0 %>
						<li><h5><strong>$100,000 - $500,000</strong></h5></li>
						<ul class="list-sytle">
						<% @available_100000.each do |room_label, room_info| %>
							<li>
								<%= link_to room_label, room_path(:id => room_info[:room].id), :remote => true,
									:class => [room_info[:room].link_element_css_class, 'room-link'], 'data-target-area' => room_info[:data_roomgroup],
									:title => room_label, :alt => room_label
								%>							
							</li>
						<% end %>
						</ul>
					<% end %>
					<% if @available_500000.size > 0 %>
						<li><h5><strong>More than $500,000</strong></h5></li>
						<ul class="list-sytle">
						<% @available_500000.each do |room_label, room_info| %>
							<li>
								<%= link_to room_label, room_path(:id => room_info[:room].id), :remote => true,
									:class => [room_info[:room].link_element_css_class, 'room-link'], 'data-target-area' => room_info[:data_roomgroup],
									:title => room_label, :alt => room_label
								%>							
							</li>
						<% end %>
						</ul>
					<% end %>
					</ul>
				</div>
			</div>
			
			<% if @named_spaces.size > 0 %>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4>Named Spaces</h4>
					</div>
					<ul class="list-group">
						<% @named_spaces.each do |room_label, room_info| %>
							<li class="namingopportunityitem list-group-item">
								<%= link_to room_label, room_path(:id => room_info[:room].id), :remote => true,
									:class => [room_info[:room].link_element_css_class, 'room-link'], 'data-target-area' => room_info[:data_roomgroup],
									:title => room_label, :alt => room_label
								%>							
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	</div>
</div>

<map name="<%= @floorplan.name %>_<%= @floorplan.default_size %>">

<% @available_5000.each do |label, label_data| %>
		<% label_data[:room_areas].each do |room_area| %>
		<area shape="<%= room_area.shape %>" 
					coords="<%= room_area.adjusted_coordinates() %>" 
					data-roomdesc="<%= label_data[:room].label %>" 
					data-roomgroup="<%= label_data[:data_roomgroup] %>"
					target="<%= label_data[:room].name %>"
					data-toggle="tooltip"
					data-placement="right"
					data-nameable="<%= label_data[:room].pending_or_nameable %>"
					title="<%= room_area.room.label %>"
					href="<%= url_for room_path(:id => label_data[:room].id) %>"
					data-remote="true"
					class="room-link"
					/>
		<% end %>
<% end %>
<% @available_100000.each do |label, label_data| %>
		<% label_data[:room_areas].each do |room_area| %>
		<area shape="<%= room_area.shape %>" 
					coords="<%= room_area.adjusted_coordinates() %>" 
					data-roomdesc="<%= label_data[:room].label %>" 
					data-roomgroup="<%= label_data[:data_roomgroup] %>"
					target="<%= label_data[:room].name %>"
					data-toggle="tooltip"
					data-placement="right"
					data-nameable="<%= label_data[:room].pending_or_nameable %>"
					title="<%= room_area.room.label %>"
					href="<%= url_for room_path(:id => label_data[:room].id) %>"
					data-remote="true"
					class="room-link"
					/>
		<% end %>
<% end %>
<% @available_500000.each do |label, label_data| %>
		<% label_data[:room_areas].each do |room_area| %>
		<area shape="<%= room_area.shape %>" 
					coords="<%= room_area.adjusted_coordinates() %>" 
					data-roomdesc="<%= label_data[:room].label %>" 
					data-roomgroup="<%= label_data[:data_roomgroup] %>"
					target="<%= label_data[:room].name %>"
					data-toggle="tooltip"
					data-placement="right"
					data-nameable="<%= label_data[:room].pending_or_nameable %>"
					title="<%= room_area.room.label %>"
					href="<%= url_for room_path(:id => label_data[:room].id) %>"
					data-remote="true"
					class="room-link"
					/>
		<% end %>
<% end %>
<% @named_spaces.each do |label, label_data| %>
		<% label_data[:room_areas].each do |room_area| %>
		<area shape="<%= room_area.shape %>" 
					coords="<%= room_area.adjusted_coordinates() %>" 
					data-roomdesc="<%= label_data[:room].label %>" 
					data-roomgroup="<%= label_data[:data_roomgroup] %>"
					target="<%= label_data[:room].name %>"
					data-toggle="tooltip"
					data-placement="right"
					data-nameable="<%= label_data[:room].pending_or_nameable %>"
					title="<%= room_area.room.label %>"
					href="<%= url_for room_path(:id => label_data[:room].id) %>"
					data-remote="true"
					class="room-link"
					/>
		<% end %>
<% end %>
</map>

<!-- MODAL ELEMENT -->
<div id="roomDetailsModal" class="modal fade room-details-modal-lg" tabindex="-1" role="dialog" aria-labelledby="roomDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<!--div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    		<h4 class="modal-title" id="roomDetailsModalLabel"></h4>
    	</div-->
    	<div class="modal-body">
    		
    	</div>
    	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>    		
    	</div>
    </div>
  </div>
</div>
