		<div class="btn-group" role="group" aria-label="...">
			<% if building_list[active_floorplan.building.name][:room_list].count > 0 %>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		      <%= active_floorplan.building.label %> Floors
		      <span class="caret"></span>
		    	</button>
		    	<ul class="dropdown-menu" role="menu">
					<% @building_list[active_floorplan.building.name][:room_list].each do |floor| %>
						<li class="<%= active_floorplan.label === floor.label ? "active" : "" %>"><%= link_to floor.label, floorplan_path(:id => floor.id) %></li>
					<% end %>
					</ul>
				</div>
			<% end %>
		
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		      Library Buildings
		      <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
				<% building_list.each do |building, building_info|%>
					<li class="<%= active_building.label === building_info[:label] ? "active" : "" %>">
					<%= link_to building_info[:label], building_path(:id => building_info[:id]) %></a>
					</li>
				<% end %>
		    </ul>
		  </div>
		</div>
