<div class="row">
	<div class="col-md-12">
	<h2>Naming Opportunities</h2>
	<p>
	The <a href="http://blogs.library.duke.edu/renovation/" target="_blank">Perkins Project</a> began with the construction of Bostock Library and the von der Heyden Pavilion, 
	followed by the renovation of Perkins Library. Now we begin the final phase with the renovation of the 
	David M. Rubenstein Rare Book &amp; Manuscript Library, where the University's unique and distinctive 
	collections reside.
	</p>
	<p>
		We invite you to join us. Make a gift to the Perkins Project, name one of the Libraries' signature spaces, 
		and participate in the transformation of Duke and its Libraries. For more information, contact <a href="<%= contact_path %>">Tom Hadzor, Director of Development</a>.	
	</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="small bg-info" style="padding: 1em; margin-bottom: 1em;">
			To view the floorplan for a library building, choose a floor link from the list to the right of each 
			building (as you move your mouse over each link, you can see the corresponding floor area in the images).
		</div>
	</div>
</div>
<div class="row">
	<% @buildings.each do |building| %>
	<div class="col-md-12 col-sm-12 librarybuilding">
	<div class="panel panel-default">
		<!--div class="panel-heading libraryprofile"><strong><%= building.label %></strong></div-->
		<div class="panel-body">
			<div class="row librarylevelslist<%= building.name %>">
				<div class="col-md-4 col-sm-12">
					<% if building.floorplans.size > 0 %>
					<div class="buildingfloorlist list-group">
						<a href="#" class="list-group-item active">
							<h4 class="list-group-item-heading"><%= building.label %></h4>
						</a>
						<% building.above_ground_floorplans.reverse.each do |floorplan| %>
							<%= link_to floorplan.label, floorplan_path(:id => floorplan.id),
								:class => ['list-group-item'], 'data-target-area' => floorplan.name
							%>
						<% end %>
						<% building.below_ground_floorplans.each do |floorplan| %>
							<%= link_to floorplan.label, floorplan_path(:id => floorplan.id),
								:class => ['list-group-item'], 'data-target-area' => floorplan.name
							%>
						<% end %>
					</div>
					<% end %>
				</div>
				<div class="libraryprofilegraphic col-md-8 col-sm-12 hidden-xs hidden-sm text-center">
				<%= image_tag "dul-libraries-profile-google-earth-#{building.name}-ground-level-#{building.image_width}x#{building.image_height}.jpg", 
											height: building.image_height,
											width: "100%",
											alt: "Profile of the #{building.label}",
											class: "img-responsive", 
											usemap: "#libraryprofilemap" + building.name
											%>
				</div>
				<!--div class="col-sm-12 floorlistoutercontainer">
				</div-->
			</div>
		</div>
	</div>
	</div>
	<% end %>
</div>

<% @floorplan_list.each do |building, floorplans| %>
<map name="libraryprofilemap<%= building %>">
	<% floorplans.each do |floorplan| %>
		<% floorplan.floor_areas.each do |area| %>
		<area shape="<%= area.shape %>" 
					coords="<%= area.coord %>" 
					data-roomdesc="<%= floorplan.label %>" 
					title="<%= floorplan.label %>" 
					data-roomgroup="<%= floorplan.name %>"
					href="<%= url_for :controller => 'floorplans', :action => 'show', :id => floorplan.id %>"
					/>
		<% end%>
	<% end %>
</map>
<% end %>
