<div class="row">
	<div class="col-md-12">
	<h2>Naming Opportunities</h2>
	<p>
	The Perkins Project began with the construction of Bostock Library and the von der Heyden Pavilion, 
	followed by the renovation of Perkins Library. Now we begin the final phase with the renovation of the 
	David M. Rubenstein Rare Book &amp; Manuscript Library, where the University's unique and distinctive 
	collections reside.</p>
	<p>
		We invite you to join us. Make a gift to the Perkins Project, name one of the Libraries' signature spaces, 
		and participate in the transformation of Duke and its Libraries. For more information, contact Tom Hadzor, Director of Development.	
	</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="small bg-info" style="padding: 1em; margin-bottom: 1em;">
			To view the floorplan for a library building, choose a floor link from the list to the right of each 
			building (as you move your mouse over each link, you can see the corresponding floor area in the images).
		</div>
	</div>
</div>
<div class="row">
	<% @buildings.each do |building| %>
	<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading libraryprofile"><strong><%= building.label %></strong></div>
		<div class="panel-body">
			<div class="row librarylevelslist<%= building.name %>">
				<% if building.floorplans.size > 0 %>
				<div class="pull-right col-sm-4 floorlistoutercontainer">
					<div id="<%= building.name %>floorlist" class="floorlistcontainer">
						<ul class="list-unstyled buildingfloorlist">
						<% building.above_ground_floorplans.reverse.each do |floorplan| %>
							<li>
								<a data-target-area="<%= floorplan.name %>" href="<%= url_for :controller => 'floorplans', :action => 'show', :id => floorplan.id %>"><%= floorplan.label %></a>
								<% if !floorplan.sublabel.nil? && !floorplan.sublabel.empty? %>
								<br /><small><%= floorplan.sublabel %></small>
								<% end %>
							</li>
						<% end %>
						<% building.below_ground_floorplans.each do |floorplan| %>
							<li>
								<a data-target-area="<%= floorplan.name %>" href="<%= url_for :controller => 'floorplans', :action => 'show', :id => floorplan.id %>"><%= floorplan.label %></a>
								<% if !floorplan.sublabel.nil? && !floorplan.sublabel.empty? %>
								<br /><small><%= floorplan.sublabel %></small>
								<% end %>
							</li>
						<% end %>
						</ul>
					</div>
				</div>
				<% end %>
				<div class="libraryprofilegraphic col-sm-8">
				<%= image_tag "dul-libraries-profile-google-earth-#{building.name}-ground-level-#{building.image_width}x#{building.image_height}.jpg", 
											height: building.image_height,
											width: building.image_width,
											alt: "Profile of the #{building.label}",
											class: "img-thumbnail img-responsive", 
											usemap: "#libraryprofilemap" + building.name
											%>
				</div>
			</div>
		</div>
	</div>
	</div>
	<% end %>
</div>

<% @floorplan_list.each do |building, floorplans| %>
<map name="libraryprofilemap<%= building %>">
	<% floorplans.each do |floorplan| %>
		<% floorplan.floor_areas.each do |area| %>
		<area shape="<%= area.shape %>" 
					coords="<%= area.coord %>" 
					data-roomdesc="<%= floorplan.label %>" 
					title="<%= floorplan.label %>" 
					data-roomgroup="<%= floorplan.name %>"
					href="<%= url_for :controller => 'floorplans', :action => 'show', :id => floorplan.id %>"
					/>
		<% end%>
	<% end %>
</map>
<% end %>
