<tr id="floor_area_id-<%=floor_area.id%>">
	<td>
		<div class="row">
			<div class="col-xs-7"><input disabled class="form-control coord input-sm" type="text" value="<%=floor_area.coord %>"></div>
		</div>
	</td>
	<td><%= floor_area.shape %></td>
	<td>
		<button type="button" 
						class="btn btn-default btn-sm" 
						data-toggle="modal" 
						data-target="#diagInlineEditFloorArea" data-coord="<%=floor_area.coord %>" data-shape="<%= floor_area.shape %>"
						data-floor-area-id="<%=floor_area.id %>"
						data-url="<%= admin_floor_area_path(:id => floor_area.id) %>">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true">			
		</button>		
		<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>		
	</td>
</tr>
