<h3>Edit <%= @floorplan.building.label %> - <%= @floorplan.label %></h3>
<ul class="nav nav-tabs floorplan-tabs">
	<li role="presentation" class="active"><a data-toggle="tab" href="#floorplan-data">Info</a></li>
	<li role="presentation"><a data-toggle="tab" href="#floorareas">Floor Areas</a></li>
	<li role="presentation"><a data-toggle="tab" href="#rooms">Rooms</a></li>
</ul>
<div class="tab-content">
	<div id="floorplan-data" class="tab-pane fade in active">
		<%= form_for :floorplan, html: {class: 'form-horizontal'} do |f| %>
			<div class="form-group">
				<%= f.label :name, {class: 'col-sm-2 control-label', for: 'floorplanId' } %>
				<div class="col-sm-6">
					<%= f.text_field :name, {class: 'form-control input-sm', id: 'floorplanId', placeholder: 'Enter Floorplan Name'}%>
					<p class="help-block small">HTML-safe id string that identifies this floorplan (e.g. "p28_floor1")</p>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :label, {class: 'col-sm-2 control-label', for: 'floorplanLabel' } %>
				<div class="col-sm-10">
					<%= f.text_field :label, {class: 'form-control input-sm', id: 'floorplanLabel', placeholder: 'Enter Floorplan Label'}%>
					<p class="help-block small">The visible name/label for this floorplan, usually omitting the building label (e.g. "First Floor")</p>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :sublabel, {class: 'col-sm-2 control-label', for: 'floorplanSubLabel' } %>
				<div class="col-sm-10">
					<%= f.text_field :sublabel, {class: 'form-control input-sm', id: 'floorplanSubLabel', placeholder: 'Enter Floorplan Sub-Label'} %>
					<p class="help-block small">Optional subtitle for special circumstances (i.e. donor names)</p>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :building_id, {class: 'col-sm-2 control-label', for: 'floorplanBuilding' } %>
				<div class="col-sm-10">
					<%= f.collection_select :building_id, Building.all, :id, :label, {}, {class: 'form-control input-sm', id: 'floorplanBuilding' } %>
					<p class="help-block small">Choose the building for this floorplan.</p>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :floorplan_map_id, {class: 'col-sm-2 control-label', for: 'floorplanMap' } %>
				<div class="col-sm-10">
					<div class="row">
						<div class="col-xs-5">
						<%= f.collection_select :floorplan_map_id, FloorplanMap.all, :id, :label, {}, {class: 'form-control input-sm', id: 'floorplanMap' } %>
						</div>
					</div>
					<p class="help-block small">Select a master floorplan map (mainly used to correlate with HTML map areas).</p>
				</div>
			</div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		    	<%= f.submit "Save Floorplan", {class: 'btn btn-primary'} %>
		    </div>
		  </div>
		<% end %>
	</div>
	<div id="floorareas" class="tab-pane fade">
		<div class="panel panel-default">
			<div class="panel-heading">Floor Areas</div>
			<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Coordinates</th>
						<th>Shape</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="tbodyFloorAreas">
					<% @floorplan.floor_areas.each do |floor_area| %>
					<%= render partial: 'floorarea_row', locals: {floor_area: floor_area, floorplan: @floorplan} %>
					<% end %>
				</tbody>
				<thead>
					<tr>
						<th colspan="3"><strong>Add New Area</strong></th>
					</tr>
				</thead>					
				<tbody>
					<tr>
						<td>
							<div class="row">
								<div class="col-xs-5">
								<input id="newAreaCoords" class="form-control input-sm" type="text" placeholder="Add new coordinates"/>
								</div>
							</div>
						</td>
						<td>
							<div class="row">
								<div class="col-xs-7">
								<%= select_tag(:area_shape, options_for_select(@area_shapes), {class: 'form-control input-sm', id: 'areaMapShape' }) %>
								</div>
							</div>
						</td>
						<td>
							<%= link_to "Add Area", admin_floorplan_add_floor_area_path(:floorplan_id => @floorplan.id), 
							:class => ['btn','btn-default','btn-sm'], :id => 'btnAddFloorArea'%>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>	
	</div>
	<div id="rooms" class="tab-pane fade">
		<table class="table table-condensed table-hover">
			<thead>
				<tr class="small">
					<th>Name</th>
					<th class="text-center">Naming<br />Opportunity?</th>
					<th class="text-center">Nameable?</th>
					<th class="text-center">Dollar Amount</th>
					<th class="text-center">Pending?</th>
					<th class="text-center">Carrel?</th>
				</tr>
			</thead>
			<tbody>
				<% @floorplan.rooms.each do |room| %>
				<tr class="small">
					<td><%= room.label %></td>
					<td class="text-center"><%= room.naming_opportunity? ? "Y" : "N" %></td>
					<td class="text-center"><%= room.nameable? ? "Y" : "N" %></td>
					<td class="text-right"><%= room.nameable? ? "$ %s" % number_with_delimiter(room.dollar_amount) : "-" %></td>
					<td class="text-center"><%= room.pending_sale? ? "Y" : "N" %></td>
					<td class="text-center"><%= room.carrel? ? "Y" : "N" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<!-- inline form -->
<%= render "inline_form" %>
