<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/menu" %>
<div class="container">
	<div class="row">
		<div class="col-sm-12 hidden-xs">
		<%= render "shared/breadcrumbs" %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="hidden-xs hidden-sm hidden-md col-lg-2">
			<aside class="well well-sm">
				<p><%= image_tag "sqfoto1.jpg", class: 'img-thumbnail' %></p>
				<ul class="list-unstyled small front-sidebar-links">
					<li><a href="<%= featured_story_path %>">Featured Story</a></li>
					<li><a href="<%= giving_opportunities_path %>">Giving Opportunities</a></li>
					<li><a href="<%= friends_of_libraries_path %>">Friends of the Libraries</a></li>
					<li><a href="<%= news_and_events_path %>">News, Events, Exhibits</a></li>
					<li><a href="<%= how_to_give_path %>">How To Give</li>
				</ul>
				<a href="<%= give_now_path %>" target="_blank" class="btn btn-success btn-block">Give Now</a>
			</aside>			
		</div>
		<div class="col-xs-12 col-lg-10">
		<%= yield %>
		</div>
	</div>
</div>

<%= render "shared/footer" %>
<div id="aboutNamingOpsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="aboutNamingOpsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutNamingOpsModalLabel">About This Site</h4>
      </div>
    	<div class="modal-body">
				<p>
					Our <strong>Naming Opportunities</strong> web site represents years of effort 
					from our Library's own IT software development staff.
				</p>
				<p>
					The original version of this website was built on top of the Django Framework.  In July 2015, we launched this 
					version, updating the UI to allow support for mobile devices.
				</p>
				<h4>Technologies Used:</h4>
				<ul>
					<li>
						Ruby on Rails<br /">
						<small><a href="https://github.com/duke-libraries/dul-floorplans" target=_blank>Here's our GitHub repository</a> for the project.</small>
					</li>
					<li>Apache web server, configured with Passenger</li>
					<li>MySQL database</li>
					<li><a href="http://www.outsharked.com/imagemapster/" target=_blank>ImageMapster Javascript/jQuery framework</a></li>
					<li>Bootstrap UI Framework</li>
				</ul>
				<p>For more information, please feel free to <a href="mailto:derrek.croney@duke.edu">contact our Web Architect</a>.</p>
    	</div>
    	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cool!</button>    		
    	</div>
    </div>
  </div>
</div>

</body>
</html>
